---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
const title = "About me";
const identity = {
    firstName: "xiaoshihou",
    country: "Saires",
    occupation: "Student",
    hobbies: ["HOI4", "scripting", "swimming"],
};
const titleColor = "navy";
const skills = ["astro", "rust", "go", "python", "bash"];
---

<Navigation />
<head>
    <title>{title}</title>
    <style define:vars={{ titleColor }}>
        h1 {
            color: var(--titleColor);
            font-size: 2rem;
        }
        .hobbies {
            color: green;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>{title}</h1>
    <h2>... and my new Astro site!</h2>

    <p>
        I am working through Astro's introductory tutorial. This is the second
        page on my website, and it's the first one I built myself!
    </p>

    <p>
        This site will update as I complete more of the tutorial, so keep
        checking back and see how my journey is going!
    </p>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>
            I live in {identity.country} and I work as a {identity.occupation}.
        </li>
        {
            identity.hobbies.length >= 2 && (
                <li class="hobbies">
                    Two of my hobbies are: {identity.hobbies[0]} and{" "}
                    {identity.hobbies[1]}
                </li>
            )
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>
</body>
<Footer />
